export MINIO_ENDPOINT=localhost:9000
export MINIO_ACCESS_KEY=saferplace
export MINIO_SECRET_KEY=supersecret

# Enable if you want better logging.
export SAFERPLACE_DEBUG=true

# Put your secrets in .secret.env
source .secret.env
